{% extends "menu.html" %}

{% block list %}

<div class=container>
{% if menu_list %}
    {% for menu in menu_list %}
    <div class="page-header">
       <h1>{{ menu.name }}</h1>
    </div>
    <div class="row">
        <div class="col-xs-6 col-md-3 col-sm-6">
            <img src="/static/img/{{ menu.pic.url }}" class="img-thumbnail">
        </div>
        <div class="col-sm-4">
            <h3><small>{{ menu.details }}</small></h3>
            <h5><small>{{ menu.charge_value }}</small></h5>
        </div>
    </div>
    {% endfor %}
{% endif %}
</div>

{% endblock %}
